<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div>
  <h1>
    Bienvenidos a {{ title }}
  </h1> 
  <p>vamos a aprender juntos</p>
  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    &nbsp;
    <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>
    &nbsp;
    <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>
    &nbsp;
    <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">Videojuegos</a>
    &nbsp;
    <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo</a>
    
  </nav>
  <!--<videojuego></videojuego>
 <zapatillas></zapatillas>
  <app-cursos></app-cursos>-->
</div>
<hr>
<router-outlet></router-outlet>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



